<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SubProjects</title>
</head>
<body>

<header th:replace="~{fragments/fragments :: headerfragment}"></header>

<!--    <tr th:each="subProject : ${subprojects}">-->
<!--        <td>-->
<!--            <input type="text"-->
<!--                   name="name"-->
<!--                   th:value="${subProject.name}"-->
<!--                   th:form="'updateForm-' + ${subProject.id}">-->
<!--        </td>-->
<!--        <td>-->
<!--            <form th:id="'updateForm-' + ${subProject.id}"-->
<!--                  th:action="@{/subproject/update/{projectId}/{id}(projectId=${projectId}, id=${subProject.id})}"-->
<!--                  method="post">-->
<!--                <button type="submit">Update</button>-->
<!--            </form>-->


<form th:action="@{/subproject/add/{projectId}(projectId=${subproject.projectId})}"
      th:object="${subproject}"
      method="post">
<table>
        <tr>
            <th>Navn</th>
        </tr>
        <tr>
            <td>
            <input type="text" th:field="*{name}" required>
            </td>
        </tr>
</table>
    <button type="submit">Opret delprojekt</button>
</form>
<a th:href="@{/projects/{id}(id=${projectId})}">Annuller</a>
</body>
</html>