<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<!-- Bliver replacet af vores header fragment-->
<header th:replace="~{fragments/fragments :: headerfragment}"></header>

<!-- Bliver replacet af vores nav fragment-->
<nav th:replace="~{fragments/fragments :: navfragment}"></nav>

<main>
    <table>
        <tr>
            <th>Projekter i alt</th>
            <th>Afsluttede projekter</th>
            <th>Aktive projekter</th>
        </tr>
        <tr>
            <td th:text="${totalprojects}"></td>
            <td th:text="${completedprojects}"></td>
            <td th:text="${activeprojects}"></td>
        </tr>
    </table>
</main>
</body>
</html>