<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fejl</title>
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<header th:replace="~{fragments/fragments :: headerfragment}"></header>
<nav th:replace="~{fragments/fragments :: navfragment}"></nav>

<main>
    <h1>Noget gik galt</h1>
    <div class="error-msg" th:text="${message}"></div>
    <a class="btn-back" href="/dashboard">Gå tilbage til dashboard</a>
</main>
</body>
</html>
