<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fejl</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>

<header th:replace="~{fragments/fragments :: headerfragment}"></header>

<div class="hero">
    <h1 class="error-giant">Ups...</h1>
    <p class="error-subtitle">Noget gik galt</p>
    <div class="error-msg" th:text="${message}"></div>
    <a class="btn-back" href="/dashboard">Gå tilbage</a>
</div>

</body>
</html>
