<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Gør siden responsiv, så layoutet tilpasser sig mobil, tablet og computer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projector</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

<header>

    <a class="header-logo" style="visibility: hidden;">

        <h1>PROJECTOR</h1>

    </a>

</header>

<div class="hero">

    <p class="hero-overtitle">Velkommen til</p>

    <div class="projector-hero-logo">PROJECTOR<span class="cursor">_</span></div>

    <p>Beregn smartere. Byg stærkere.</p>

    <div class="hero-actions">

        <a th:href="@{/login}" class="btn-primary">Login</a>

        <a th:href="@{/signup}" class="btn-secondary">Opret bruger</a>

    </div>

</div>

</body>

</html>
