<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EnkelteProjekt</title>
</head>

<body>
<header th:replace="~{fragments/fragments :: headerfragment}"></header>

<nav th:replace="~{fragments/fragments :: navfragment}"></nav>

<!-- Vi henter projektets navn fra model objektet og viser det som overskrift -->
<h1 th:text="${project.name}"></h1>

<!--<a th:href="@{/}">Opret delprojekt</a>-->
<a th:href="@{/subproject/addsubproject/{projectId}(projectId=${project.id})}">
    Opret delprojekt
</a>
<!--<a th:href="@{/users}">Opret delopgave</a>-->

<table border="1">

    <tr>
        <th>Beskrivelse</th>
        <td th:text="${project.description}"></td>
    </tr>
    <tr>
        <th>Dato oprettet</th>
        <td th:text="${project.date}"></td>

    </tr>

</table>

<!-- Tabellen viser projektets subprojekter, tasks og subtasks -->
<table border="1">


    <tr>
        <th>Status</th>
        <th>Opgaver</th>
        <th colspan="3">Arbejdstid</th>
        <th colspan="3">Økonomi</th>
    </tr>

  <!--vi laver her alle de forskellige kollonneoverskrifter, hvori at de forskellige taskdataer ligger under.
  -->
    <tr>
        <th></th>
        <th></th>
        <th>Timer</th>
        <th>Timepris</th>
        <th>Total</th>
        <th>Budget</th>
        <th>aktuel</th>
        <th>Difference</th>
    </tr>


    <!-- Vi looper igennem hvert subprojekt der tilhører det korrekte projekt -->
    <tbody th:each="subproject : ${project.subProjects}">

    <!-- Her laver vi de hentede dem subprojekter som overskrifter for -->
        <tr>
            <th colspan="10"
            th:text="${subproject.name}"></th>
        </tr>

    <tr>
        <td>
            <a th:href="@{/task/addtask/{subProjectId}(subProjectId=${subproject.id}, projectId=${project.id})}">Opret opgave</a>
        </td>
    </tr>

    <!-- Vi bruger th:block til at sætte task og subtask rækkerne sammen -->
        <th:block th:each="task : ${subproject.tasks}">

            <!-- Vi viser vi task rækken med status, navn, timer, timepris og total -->
        <tr>
            <td th:text="${task.status}"></td>
            <td>
                <a th:href="@{/task/{id}(id=${task.id})}"
                 th:text="${task.name}">
                </a>
            </td>
            <td th:text="${task.estimatedHours}"></td>
            <td th:text="${task.hourlyRate} + ' KR.'"></td>
            <td th:text="${task.totalPrice} + ' KR.'"></td>
        </tr>



        </th:block>
    </tbody>

</table>


</body>
</html>