<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Gør siden responsiv, så layoutet tilpasser sig mobil, tablet og computer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opret bruger</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

<header th:replace="~{fragments/fragments :: headerfragment}"></header>

<div class="login-card">

    <div class="login-header">

        <h1>Opret bruger</h1>

    </div>

    <form th:action="@{/user/signup}" th:object="${user}" method="post">

        <div class="form-group">

            <label>Fulde Navn</label>

            <input type="text" th:field="*{name}" placeholder="Indtast dit navn her" required/>

        </div>

        <div class="form-group">

            <label>Email</label>

            <input type="email" th:field="*{email}" placeholder="Indtast din email her" required/>

        </div>

        <div class="form-group">

            <label>Password</label>

            <input type="password" th:field="*{password}" placeholder="Indtast dit password her" required/>

        </div>

        <input type="submit" value="Opret bruger"/>

    </form>

    <a th:href="@{/}" class="back-link">Tilbage</a>

</div>

</body>

</html>
