<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>

</head>

<body>
<nav>
    <strong>Projector</strong>
    <ul>
        <li>Home</li>
        <li>SignUp</li>
        <li>LogIn</li>
    </ul>
</nav>

<div>
    <p>Kom i gang</p>
    <h1>Opret bruger</h1>
    <p>Opret din profil og få adgang til dine projector og tasks</p>
</div>

<form th:action="@{/signUp}" th:object="${user}" method="post">
    <div>
        <label>Fulde Navn</label>
        <input type="text" th:field="*{name}"  placeholder="Indtast dit navn her" required/>
    </div>

    <div>
        <label>Email</label>
        <input type="email" th:field="*{email}" placeholder="Indtast din email her" required/>
    </div>

    <div>
        <label>Password</label>
        <input type="password" th:field="*{password}" placeholder="Indtast dit password her" required/>
    </div>

    <input type="submit" value="SignUp"/>
</form>

</body>
</html>