<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EnkelteTask</title>
</head>

<body>
<header th:replace="~{fragments/fragments :: headerfragment}"></header>

<nav th:replace="~{fragments/fragments :: navfragment}"></nav>

<!-- Tilbage-knap kun på denne side -->
<a th:href="@{/project/{id}(id=${projectId})}">
    Tilbage til projekt
</a>

<!-- Vi henter projektets navn fra model objektet og viser det som overskrift -->
<h1 th:text="${task.name}"></h1>

<!-- Knap der sender brugeren til rediger-siden for den valgte task -->
<a th:href="@{/task/update/{id}(id=${task.id})}">
    <button type="button">Rediger task</button>
</a>

<!--
Delete bruger form og method="post",
fordi vi ændrer/sletter data i databasen.
-->
<form th:action="@{/task/deleteTask/{subProjectId}/{id}(subProjectId=${task.subProjectId}, id=${task.id})}" method="post">
    <button type="submit">Slet task</button>
</form>
<!--<a th:href="@{/}">Opret delprojekt</a>-->

<!--<a th:href="@{/users}">Opret delopgave</a>-->

<table border="1">

    <tr>
        <th>Beskrivelse</th>
        <td th:text="${task.description}"></td>
    </tr>

    <tr>
        <th>Status</th>
        <td th:text="${task.status}"></td>


    </tr>

</table>

<!-- Tabellen viser projektets subprojekter, tasks og subtasks -->
<table border="1">


    <tr>
        <th>Status</th>
        <th>Opgaver</th>
        <th colspan="3">Arbejdstid</th>
        <th colspan="3">Beskrivelse</th>
    </tr>

    <!--vi laver her alle de forskellige kollonneoverskrifter, hvori at de forskellige taskdataer ligger under.
    -->
    <tr>
        <th></th>
        <th></th>
        <th>Timer</th>
        <th>Timepris</th>
        <th>Total</th>
        <th></th>

    </tr>


    <!-- Vi looper igennem hver subtask der tilhører den korrekte task -->
    <tr th:each="subtask : ${task.subTasks}">
        <td th:text="${subtask.status}"></td>
        <!-- padding-left rykker subtask navnet til højre fra task navnet
         På den måde kan vi nemt skelne mellem subtask og tasks-->
        <td th:text="${subtask.name}"></td>
        <td th:text="${subtask.estimatedHours}"></td>
        <td colspan="2"></td>
        <td colspan="3" th:text="${subtask.description}"></td>

    </tr>
</table>
</body>
</html>
