<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rediger delprojekt</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
<header th:replace="~{fragments/fragments :: headerfragment}"></header>
<nav th:replace="~{fragments/fragments :: navfragment}"></nav>

<main>
    <h1>Rediger delprojekt</h1>

    <!-- update formlen der sendes til saveUpdate som gemmer ændringer til databasen-->
    <form th:action="@{/subproject/saveUpdate}" th:object="${subproject}" method="post">
        <!-- Vi henter først id og taskId så vores update gemmer den rigtige subtask og på den rigtige task-->
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{projectId}">

        <div class="form-group">
            <label>Delprojekt titel</label>
            <input type="text" th:field="*{name}">
        </div>
        <div class="form-actions">
            <button type="submit">Gem ændringer</button>
            <!-- Tilbage knap sender brugeren til task oversigten-->
            <a class="btn-cancel" th:href="@{/projects/{projectId}(projectId=${subproject.projectId})}">Tilbage</a>
        </div>
    </form>
</main>
</body>
</html>
